.App {
  text-align: center;
}

.top-section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.user-review-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
}

.monthly-plan-section {
  margin: 20px 0;
}

.plan-details {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-section {
  margin: 20px 0;
}

.faq {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
.monthly-plan-section .no-line {
  display: none;
}